
.header {
  padding: 50px;
  background-color: hsl(193, 100%, 96%);
  background-image: url(images-20220617T120100Z-001/images/bg-hero-desktop.svg);
}

.top_layer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#middle_layer {
  display: flex;
  flex-direction:row;
  width: 100%;
  margin: auto;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
}

#build {
  color: #00252e;
  width:50%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#build h1 {
  font-weight: 700;
  margin-top: 30px;
  width: 100%;
  height: 100;
  line-height: 1.2em;
  font-size: 2.5em;
}

#build p {
  line-height: 1em;
  margin-bottom: 30px;
  width:100%;
  font-size: 1em;
  font-weight: 500;
}

#top_image {
  max-width: 90%;
  float: right;

}

#top_button {
  border-radius: 30px;
  border: 2px;
  font-size: 20px;
  width: 150px;
  background-color: hsl(0, 0%, 100%);
  height: 35px;
  font-weight: 700;
  color: #00252e;
  font-size: 10px;
  padding: 4px 6px;
}

#get_button {
  border-radius: 20px;
  border: 2px;
  font-weight: 700;
  color: white;
  font-size: 10px;
  padding: 4px 6px;
  height: 35px;
  width: 210px;
  background-color: hsl(322, 80%, 46%);
}

#get_button:hover{
  background-color: hsl(305, 100%, 50%);
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 7em;
  color: #00252e;
  padding: 7em 7em 10em 5em;
  background-color: rgb(255, 255, 255);
}

.box {
  display: flex;
  width: 100%;
  padding:3em 6em;
  margin: center;
  border-radius: 1em;
  box-shadow: 0 0 20px 0.4px rgb(185, 177, 175);
  height: 15em;
  justify-content: space-between;
}

#box_1{
    height:100%;
    width:90%;
 align-items: center;
 justify-content: space-around;
}

#box_1 h1{
    font-weight: 700;
    line-height: 0.7em;
    font-size: 2.3em;
  }

#box_1 p {
  color: grey;
    line-height: 1em;
    font-size: 1.2em;
    width: 95%;
    font-weight: 200;
  }

#grow_image{
    width: 100%;
    float: right;

}

#box_2{
  height:100%;
  width:90%;
align-items: center;
justify-content: space-around;
}

#box_2 h1{
  font-weight: 700;
  line-height: 0.7em;
  font-size: 2.3em;
  }

#box_2 p {
  color: grey;
    line-height: 1em;
    font-size: 1.2em;
    width: 95%;
    font-weight: 200;
  }

#flowing_image{
    width: 90%;
    float: left;

}

#box_3{
  height:100%;
  width:90%;
align-items: center;
justify-content: space-around;
}

#box_3 h1{
  font-weight: 700;
  line-height: 0.7em;
  font-size: 2.3em;
  }

#box_3 p {
  color: grey;
    line-height: 1em;
    font-size: 1.2em;
    width: 95%;
    font-weight: 200;
  }

#user_image{
    width: 90%;
    float: right;

}

.box_small{
    display: flex;
    flex-direction: column;
    padding:4em;
    align-content: center;
    margin-top: 2em;
    margin-left:auto;
    margin-right: auto;
    border-radius: 1em;
    max-height: 15em;
    box-shadow: 0 0 20px 0.4px rgb(185, 177, 175);
    justify-content:center;
}

.box_small h1{
    font-size: 2em;
}

#box_4{
    height:100%;
 align-items: center;

}

#footer_button{
  border-radius: 20px;
  border: 2px;
  font-weight: 700;
  color: white;
  font-size: 10px;
  padding: 4px 6px;
  height: 45px;
  width: 300px;
  background-color: hsl(322, 80%, 46%);

}

#footer_button:hover{
  background-color: hsl(305, 100%, 50%);
  cursor: pointer;
}

#foot{
  padding: 8em 8em 0em 8em;
}

footer{
  font-weight: 300;
  color: white;
  margin: auto;
  background-color:#00252e;
}

#bottom_logo{
  display: flex;
  height:25px;
  top: 15px;
  margin-left: -4.5em;
  width: 150px;
}

#main_footer{
  width: 100%;
  display: flex;
  float:left;
  justify-content: space-around;
  font-weight: 400;
  margin-top: 1em;
}

.icon_logo{
  position:relative;
  display: flex;
  width:20px;
  justify-content: center;
  height:18px;
  margin-left: -110px;
  top: 15px;
  margin-right: 20px;
}

#left_main{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 30%

}

#location{
  display: flex;
  width:100%;
  direction:initial;
  justify-content: space-between;

} 

#call{
  display: flex;
  direction:initial;
  justify-content: space-between;
}

#email{
  display: flex;
  direction:initial;
  justify-content: space-between;

} 

#middle_footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#middle2_footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#copyright{
  width:100%;
  display: flex;
 margin-top: 5em;
}

#last_footer p{
margin-top: 8em;
justify-content: flex-end;
}  


  @media screen {
    
  }